#loginBtn {
    left: 80%;
    position: absolute;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.radio-option {
    width: 50px;
}

.offer {
    padding: 5px 0 5px 0;
    border-top: 1px ridge;
    border-bottom: 1px ridge;
    .media {
        img {
            width: 160px;
        }
    }
}
